/* HEADER */
header {
  background-color: #001233;
  color: white;
  padding: 0px 10%;
  font-weight: 600;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  min-height: 70px;
  height: 100%;
  padding: 10px 0px;
}

.imgLogo {
  height: 50px;
  margin-right: 5px;
}

.topnav {
  color: white;
}

.active {
  color: white;
  text-decoration: underline;
  padding: 15px;
  margin: 0px;
}

.active:hover {
  color: orangered;
}

header p {
  margin: 0px 0px 0px auto;
}


/* FOOTER */
footer {
  height: 200px;
  background-color: #001233;
  color: white;
  padding: 0px 10%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

footer h1 {
  margin: 0px;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

footer h2 {
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}


/************ BREAKPOINTS ************/


/* Small Laptops 1200px or less */
@media only screen and (max-width: 1200px) {}


/* Landscape Tablets 992px or less */
@media only screen and (max-width: 992px) {
   header {
    padding: 0px 5%;
  }
  
}

/* Portait Tablets 768px or less */
@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .topnav {
    margin: 20px;
  }

  header p {
    margin: 0px 0px 10px 0px;
    text-align: center;
  }

}

/* Phones 480px or less  */
@media only screen and (max-width: 480px) {}