.table-wrapper {
    width: 80%;
    margin: 80px auto;
    max-width: 1300px;
}

.inventory-title-main {
    font-size: 40px;
    padding-bottom: 15px;
    font-weight: 700;
    text-align: left;
}

.tab-switcher-mobile {
    display: none;
    justify-content: center;
    border-bottom: 1px solid #d6d9de;
    margin: 20px 0px;
}

.tab-switcher-mobile ul {
    display: flex;
    padding: 0px;
    margin: 0px auto 0px 10%;
    flex-direction: column;
    width: 80%;
}

.tab-switcher-mobile li {
    list-style: none;
    margin: 0px 0px 5px 0px;
    border-bottom: 3px solid transparent;
    transition: all ease-in-out 0.1s;
}

.tab-switcher-mobile li:hover {
    border-bottom: 3px solid #001233;
}

.tab-switcher-button-mobile {
    color: #001233;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 10px 10px 1px;
    display: flex;
}

.tab-switcher-tworow {
    display: none;
}

.tab-switcher-button-tworow {
    display: block;
}

.ebay-store-wrapper {
    display: flex;
}

.ebay-store-left {
    width: 50%;
    padding: 0px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ebay-store-right {
    width: 50%;
    padding: 0px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ebay-store-wrapper img {
    padding: 20px 0px 0px 0px;
    width: 100%
}


/************************************************ INDIVIDUAL LISTINGS ************************************************/


.back1page {
    display: block;
    height: 90px;
    align-content: center;
    padding: 0px 10%;
    margin: 0px auto;
}

.back1page-container {
    max-width: 1300px;
    margin: auto;
    padding-top: 5px;
}

.back1page svg {
    width: 12px;
    fill: #1155cc;
    margin-right: 5px;
}

.back1page a {
    display: inline-flex;
}

.back1page a:visited {
    color: #1155cc;
}

.inventory-main-content {
    padding: 0px 10% 80px 10%;
    margin: 0px auto;
}

.inventory-content-container {
    max-width: 1300px;
    margin: auto;
    display: flex;
}

/* Style the tab */
.tab-container {
    width: 55%;
    display: flex;
    padding-right: 30px;
    min-height: 650px;
}

.tab {
    display: flex;
    flex-direction: column;
    /*! float: left; */

    width: 64px;
    margin-right: 20px;
}

.tab img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover; 
}

/* Style the buttons inside the tab */
.tab button {
    display: flex;
    background-color: white;
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 2px;
    margin: 5px 0px;
    border-radius: 5px;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #575757;
}

/* Style the tab content */
.tabcontent {
    /*! float: left; */
    margin-top: 5px;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 10px;
    max-height: 630px;
}

.tabcontent img {
    max-height: 630px;
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
    object-position: center;
}


.inventory-item-info {
    width: 45%;
    padding-left: 30px;
}

.inventory-item-info h1 {
    padding-bottom: 20px;
}

.inventory-item-info h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    padding-bottom: 2px;
}

.inventory-item-info p {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 20px;
}

.inventory-bullet-list {
    padding-left: 20px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    padding-bottom: 20px;
}

.inventory-bullet-list li {}

.inventory-bullet-list li::marker {
    color: red;
}

.inventory-dotted-list {
    padding-left: 0px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    padding-bottom: 30px;
    width: 100%;
    right: .5em;
    position: relative;
}

.inventory-dotted-list li {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: baseline;
}

.inventory-dotted-list li:before {
    border-bottom: 2px dotted #333;
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

.inventory-dotted-list span {
    background: #fff;
    padding: 0px .5em;
}



/* STYLES FOR FILLABLE CONTACT FORM */
.form-input,
.form-textarea {
    padding: 0px 15px;
    border: 1px solid #001233;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 20px;
    margin: 0px 0px 11px 0px;
    color: black;
    resize: none;
}

.form-textarea:focus-visible,
.form-input:focus-visible {
    color: Black;
    outline: 1px solid blue;
}

.form-textarea {
    min-height: 150px;
    /*! max-width: 570px; */
}

.form-submit {
    width: 100%;
    background-color: #001233;
    color: #fff;
    padding: 0px;
    border-radius: 10px;
    height: 45px;
    border: 0px;
    font-family: "Inter", sans-serif;
    transition: all ease-in-out 0.1s;
    font-weight: 600;
    font-size: 14px;
}

.form-submit:hover {
    background-color: #FF5F0F;
    cursor: pointer;
}

.form-input-inventory-placeholder:focus-visible {
    color: Black;
    outline: 1px solid gray;
}

/* END STYLES FOR FILLABLE CONTACT FORM */




/*  STYLES FOR ACCORDIAN DROPDOWN */
 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
    background-color: #001233;
    color: #fff;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    padding: 8px 48px;
    font-size: 15px;
    font-weight: 600;
    transition: all ease-in-out 0.1s;
    font-family: 'Inter', sans-serif;
    border-radius: 3px;
    margin-bottom: 11px;
    border: 2px #001233 solid;
  }
  
  .active, .accordion:hover {
    background-color: white;
    color: #001233;
    border: 2px #001233 solid;
  }
  
  .panel {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 1px;
  }

  /* END STYLES FOR ACCORDIAN DROPDOWN */



/************************************************ BREAKPOINTS ************************************************/




/* Small Laptops 1200px or less */
@media only screen and (max-width: 1200px) {
    .ebay-store-left {
        padding: 0px 15px 0px 0px;
    }

    .ebay-store-right {
        padding: 0px 0px 0px 15px;
    }
    .inventory-item-info {
    padding-left: 15px;
        width: 50%;
}
    .tab-container {
  padding-right: 15px;
        width: 50%;
}
    .inventory-dotted-list {
    font-size: 15px;
}
    
    
}


/* Landscape Tablets 992px or less */
@media only screen and (max-width: 992px) {
    .tab-switcher-button-tworow {
        display: none;
    }

    .tab-switcher-tworow {
        display: block;
    }

    .table-wrapper {
        width: 90%;
    }
    .back1page {
    padding: 0px 5%;
}
    .inventory-main-content {
    padding: 0px 5% 80px 5%;
    margin: 0px auto;
}
        .inventory-item-info {
    padding-left: 10px;
}
    .tab-container {
  padding-right: 10px;
}
    .tabcontent {
    max-height: 540px;
}

.tabcontent img {
    max-height: 540px;
}
    .inventory-dotted-list {
    font-size: 14px;
}


}


/* Portait Tablets 768px or less */
@media only screen and (max-width: 768px) {
    .table-wrapper {
        width: 95%;
    }

    .inventory-title-main {
        text-align: center;
    }

    .ebay-store-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ebay-store-left {
        padding: 0px;
    }

    .ebay-store-right {
        padding: 0px;
    }

    .ebay-store-left,
    .ebay-store-right {
        width: 100%;
    }

    .ebay-store-wrapper img {
        padding: 20px 0px 20px 0px;
        width: 100%
    }
    .inventory-content-container {
  flex-direction: column;
}
    .tab-container {
  width: 100%;
  display: flex;
  padding-right: 0px;
  min-height: 540px;
}
    .inventory-item-info {
  width: 100%;
  padding-top: 30px;
}
    .inventory-dotted-list {
    font-size: 15px;
}
    
    
    
    
}

/* Phones 480px or less  */
@media only screen and (max-width: 480px) {

    .tab-switcher,
    .tab-switcher-tworow {
        display: none;
    }

    .tab-switcher-mobile {
        display: flex;
    }

    .table-wrapper {
        width: 100%;
    }
    .back1page {
  
  height: 70px;

  position: relative;
  bottom: 10px;
}
    
       .tab-container {
  min-height: auto;
} 
    .inventory-dotted-list {
    font-size: 12px;
}
    
    
    
    
    
}